<div class="container">
  <div class="row">
    <div class="col-sm-4 col-offset-4">
      <h3>Add a bicycle!</h3>

      <%= simple_form_for @bicycle do |f| %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :post_code, label: "Postcode" %>
        <%= f.input :description, placeholder: "Write a short description of your bike", input_html: { rows: 3 } %>
        <%= f.input :price, label: "Price per hour (£)" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
