
<div class ="bike_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @bicycle.photo %>);">
</div>
<div class = "container">
  <div class="row" ">
    <div class="col-xs-12 col-md-8">
      <div class = "description_card">
        <h2><%= "#{@bicycle.brand.capitalize} #{@bicycle.model.capitalize}" %></h2>
        <h4><%= @area %></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="booking_card">
        <h2><%= "£#{@bicycle.price}/day" %></h2>
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(23)</span>
        </div>
        <p>Dates</p>
        <%= render 'layouts/components/date_picker.html.erb' %>
        <p>"#{@bicycle.price} * "</p>
        <p>Service fee</p>
        <p>Total</p>
        <%= link_to "Book", "/", class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>

<script>
  if(document.getElementById(search_drop_off).value?) {
    var a = document.getElementById('search_pick_up').value
    var b = document.getElementById('search_drop_off').value
    var milliseconds = ((new Date(a)) - (new Date(b)))
    var minutes = milliseconds/(60000)
    var hours = minutes/(60)
  }
</script>




