<div class ="bike_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @bicycle.photo %>);">
</div>
<div class = "container">
  <div class="row" ">
    <div class="col-xs-12 col-md-8">
      <div class = "description_card">
        <h2><%= "#{@bicycle.brand.capitalize} #{@bicycle.model.capitalize}" %></h2>
        <h4><%= @bicycle.area %></h4>
        <p><%= @bicycle.description %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="booking_card" id="booking_dates" data-array="<%= @bookings_array.to_json %>">
        <h2>£<span id="bike_price"><%= @bicycle.price %></span>/hr</h2>
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span>(23)</span>
        </div>
        <% unless @bicycle.user == current_user %>
          <%= render 'layouts/components/date_picker.html.erb' %>
        <% end %>
        <% if @bicycle.user == current_user %>
          <%= render 'layouts/components/my_bike.html.erb' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function getHours() {
    if(document.getElementById("booking_date_end").value) {
      var a = document.getElementById('booking_date_start').value
      var b = document.getElementById('booking_date_end').value
      var milliseconds = ((new Date(a)) - (new Date(b)))
      var minutes = milliseconds/(60000)
      var hours = minutes/(60)
      return hours
    };
  }

  function revealBook() {
    if(document.getElementById("booking_date_end").value && document.getElementById("booking_date_start").value) {
      document.getElementById("book-btn").classList.remove("hidden");
    }
  }

  var date_end = document.getElementById("booking_date_end")
  var date_start = document.getElementById("booking_date_start")
  date_end.addEventListener("input", (event) => {
    revealBook();
  });

  var price = document.getElementById("bike_price").innerHTML
  date_start.addEventListener("input", (event) => {
        if(document.getElementById("booking_date_end").value && document.getElementById("booking_date_start").value) {
          document.getElementById("total-price").innerHTML = -(getHours() * price);
          document.getElementById("currency").classList.remove("hidden");
        }
      });
  date_end.addEventListener("input", (event) => {
        if(document.getElementById("booking_date_end").value && document.getElementById("booking_date_start").value) {
          document.getElementById("total-price").innerHTML = -(getHours() * price);
          document.getElementById("currency").classList.remove("hidden");
        }
      });
</script>
