<div class="container">
  <div class="row">
    <% @bicycles.each do |bicycle| %>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path (bicycle.photo.filename.nil? ? "" : bicycle.photo) %>);">
          <div class="card-model">
            <%= bicycle.brand %> <%= bicycle.model %>
            <p>£<%= bicycle.price %>/hr</p>
          </div>
          <div class="card-description">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <br>
          </div>
          <%= link_to "", bicycle_path(bicycle), class: "card-link"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
