<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
   <p>WantToRide</p>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div class="dropdown">
        <p class="navbar-wagon-link navbar-wagon-item dropdown-toggle", id="navbar-lender-menu" data-toggle="dropdown">Lender</p>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to("Lend a bike", new_bicycle_path, method: "get") %></li>
          <li><%= link_to("My bikes", my_bikes_path, method: "get") %></li>
        </ul>
    </div>

    <%= link_to("Bookings", user_bookings_path, method: "get", class: "navbar-wagon-link navbar-wagon-item") %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: {toggle:"dropdown"} %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to("Edit profile", edit_user_registration_path, method: "get") %></li>
          <li><%= link_to("Log out", destroy_user_session_path, method: "delete") %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to("Lend a bicycle", new_bicycle_path, method: "get") %></li>
        <li><%= link_to("My bikes", my_bikes_path, method: "get") %></li>
        <li><%= link_to("Edit profile", edit_user_registration_path, method: "get") %></li>
        <li><%= link_to("Bookings", user_bookings_path, method: "get", class: "navbar-wagon-link navbar-wagon-item") %></li>
        <li><%= link_to("Log out", destroy_user_session_path, method: "delete") %></li>
      </ul>
    </div>
  </div>
</div>


